<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baseball Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Baseball Games Summary</h1>
    <ul>
        {% for game in games %}
        <li>
            <a href="{{ url_for('game_detail', game_pk=game['game_info']['game_pk']) }}">
                {{ game['game_info']['away_team'] }} at {{ game['game_info']['home_team'] }}: {{ game['linescore']['away_score'] }} - {{ game['linescore']['home_score'] }}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
